## Парсинг JSON-файлов

### 1. Подключение библиотек

In [32]:
import pandas as pd
import json
import os

### 2. Получение данных

In [35]:
result_list = {'title': [], 'namecompany': [], 'description': [], 'rating': [], 'field': [], 'date': [], 'textpub': []}

In [37]:
company_list = {'namecompany' : [], 'description' : []}

In [39]:
dir_json_files = 'Data/'

In [41]:
dir_company_json = dir_json_files + 'company.json'

In [43]:
brak_json = []

In [45]:
json_files = os.listdir(dir_json_files)

In [47]:
json_files.remove('company.json')

In [49]:
json_files

['Cybersport.Metaratings.json',
 'ESforce Holding.json',
 'Gett.json',
 'Goose Gaming.json',
 'MMA.Metaratings.json',
 'skillbox.json',
 'Vinci Agency.json',
 'Гэллэри Сервис.json',
 'Здоровье.ру.json',
 'Иннотех.json',
 'Проект по использованию технологий компьютерного зрения на базе искусственного интеллекта для анализа медицинских изображений.json',
 'Промобот.json',
 'Студия Артемия Лебедева.json',
 'Федерация креативных индустрий.json']

In [51]:
company_json = []
with open(dir_company_json, 'r', encoding='UTF-8') as file:
    company_json = json.load(file)

In [53]:
def find_company(name_file: str) -> str:
    for item in company_json:
        if item['namecompany'] == name_file.replace('.json', ''):
            return item['namecompany'], item['description']

In [55]:
def add_data_to_dict(name_file: str, data: dict) -> None:
    for item in range(len(data['refs'])):
        if data['refs'][item] == None:
            continue
            
        if data['info'] != None:
            result_list['title'].append(None)
            result_list['rating'].append(data['info']['rate'])
            result_list['field'].append(', '.join(data['info']['industries']))
    
        else:
            [result_list[i].append(None) for i in ['title', 'rating', 'field']]

        company, description = find_company(name_file)
        result_list['namecompany'].append(company)
        result_list['description'].append(description)
        date_pub = f'{data['refs'][item][1]['day']} {data['refs'][item][1]['month']} {data['refs'][item][1]['time']}'
        result_list['date'].append(date_pub)
        text_pub = ''.join(data['refs'][item][0]).replace('\n', ' ').replace('\t', ' ').replace('\xa0', ' ').replace('\u200e', ' ').replace('\r', ' ')
        result_list['textpub'].append(text_pub)

In [57]:
for json_file in json_files:
    with open(dir_json_files + json_file, 'r', encoding='UTF-8') as file:
        try:    
            data_json = json.load(file)
            add_data_to_dict(json_file, data_json)
        
        except Exception as e:
            brak_json.append(json_file)

In [58]:
brak_json

[]

In [61]:
print("Количество значений в: ")
for i in result_list:
    print( i + " - " + str(len(result_list[i])))

Количество значений в:
title - 1112
namecompany - 1112
description - 1112
rating - 1112
field - 1112
date - 1112
textpub - 1112

### 3. Создание датасета и сохранение данных

In [64]:
file_name = 'dataset_json.csv'
df = pd.DataFrame(data=result_list)

In [66]:
df.head()

,title,namecompany,description,rating,field,date,textpub
0,None,Cybersport.Metaratings,"Информационный сайт, который ежедневно публику...",NaN,None,8 декабря 09:30,7 декабря состоялась церемония награждения лау...
1,None,ESforce Holding,Одна из крупнейших киберспортивных организаций...,NaN,None,8 декабря 09:30,7 декабря состоялась церемония награждения лау...
2,None,ESforce Holding,Одна из крупнейших киберспортивных организаций...,NaN,None,29 июля 13:50,Из совместного исследования издателя компьютер...
3,None,ESforce Holding,Одна из крупнейших киберспортивных организаций...,NaN,None,9 июля 09:33,По статистике The Esports Observer за I полови...
4,None,ESforce Holding,Одна из крупнейших киберспортивных организаций...,NaN,None,11 апреля 12:43,Компании SuperData Research и PayPal провели с...

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        0 non-null      object
 1   namecompany  1112 non-null   object
 2   description  1112 non-null   object
 3   rating       293 non-null    float64
 4   field        293 non-null    object
 5   date         1112 non-null   object
 6   textpub      1112 non-null   object
dtypes: float64(1), object(6)
memory usage: 60.9+ KB

### Вывод

In [ ]:
Мы получили данные из JSON-файлов. Удалили company.json из-за